</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  
  <%if(locals.year){%>
    <P>Copyright © <%=year%></p> 
    <%# <p>Copyright © < new Date().getFullYear() %></p> %>
  <%} else {%>
    <p>Copyright ©</p>
  <%}%>  
  </p>
</footer>
</body>

</html>